<div class="content__inner">
 
    <div class="card">
        <div class="card-body">
            <h5  style="text-align: center;">OPERACIONES ADMINISTRATIVAS</h5>
            <!---->
            <p class="lead" style="text-align: center;">Personaliza los modulos mas frecuentados y lleva control de tus metas.</p>
            <hr class="my-0">
           
        </div>
    </div> 


    <div class="row quick-stats justify-content-center">
        
        <div class="col-6 col-md-2 main-container">
            <div class="image-container">
                <img src="./assets/img/home/venta.jpg" class="img-fluid" alt="Venta">
            </div>
            <button routerLink="xmlRutas" class="full-width-button">
                <i class="fas fa-plus-circle"></i> Venta
            </button>
            <!--
            <div class="quick-stats__item bg-amber">
                <div class="quick-stats__info">
                    <h2>8,778</h2>
                    <small>Total</small>
                </div>
                <div class="quick-stats__chart sparkline-bar-stats">9,4,6,5,6,4,5,7,9,3,6,5</div>
            </div>-->
        </div>

        <div class="col-6 col-md-2 main-container">
            <div class="image-container">
                <img src="./assets/img/home/reporte.jpg" class="img-fluid" alt="Reportes">
            </div>
            <button routerLink="notifica" class="full-width-button">
                <i class="fas fa-plus-circle"></i> Reportes
            </button>
            <!--
            <div class="quick-stats__item bg-amber">
                <div class="quick-stats__info">
                    <h2>8,778</h2>
                    <small>Generados</small>
                </div>
                <div class="quick-stats__chart sparkline-bar-stats">9,4,6,5,6,4,5,7,9,3,6,5</div>
            </div>-->
        </div>

        <div class="col-6 col-md-2 main-container">
            <div class="image-container">
                <img src="./assets/img/home/producto.jpg" class="img-fluid" alt="Producto">
            </div>
            <button routerLink="productos" class="full-width-button">
                <i class="fas fa-plus-circle"></i> Producto
            </button><!--
            <div class="quick-stats__item bg-amber">
                <div class="quick-stats__info">
                    <h2>8,778</h2>
                    <small>Total</small>
                </div>
                <div class="quick-stats__chart sparkline-bar-stats">9,4,6,5,6,4,5,7,9,3,6,5</div>
            </div>-->
        </div>

      
        <div class="col-6 col-md-2 main-container">
            <div class="image-container">
                <img src="./assets/img/home/categoria.jpg" class="img-fluid" alt="Categoria">
            </div>
            <button routerLink="categorias" class="full-width-button">
                <i class="fa fa-plus-circle"></i> Categoria
            </button><!--
            <div class="quick-stats__item bg-amber">
                <div class="quick-stats__info">
                    <h2>8,778</h2>
                    <small>Total</small>
                </div>
                <div class="quick-stats__chart sparkline-bar-stats">9,4,6,5,6,4,5,7,9,3,6,5</div>
            </div>-->
        </div>  

        <div class="col-6 col-md-2 main-container">
            <div class="image-container">
                <img src="./assets/img/home/proveedor.jpg" class="img-fluid" alt="Proveedor">
            </div>
            <button routerLink="proveedores" class="full-width-button">
                <i class="fa fa-plus-circle"></i> Proveedores
            </button><!--
            <div class="quick-stats__item bg-amber">
                <div class="quick-stats__info">
                    <h2>8,778</h2>
                    <small>Total</small>
                </div>
                <div class="quick-stats__chart sparkline-bar-stats">9,4,6,5,6,4,5,7,9,3,6,5</div>
            </div>-->
        </div>

        <div class="col-6 col-md-2 main-container">
            <div class="image-container">
                <img src="./assets/img/home/cliente.jpg" class="img-fluid" alt="Clientes">
            </div>
            <button routerLink="clientes" class="full-width-button">
                <i class="fa fa-plus-circle"></i> Clientes
            </button><!--
            <div class="quick-stats__item bg-amber">
                <div class="quick-stats__info">
                    <h2>3,248</h2>
                    <small>Total</small>
                </div>
                <div class="quick-stats__chart sparkline-bar-stats">9,4,6,5,6,4,5,7,9,3,6,5</div>
            </div>-->
        </div>

    </div>
</div>
      