<h2 mat-dialog-title>{{ operacion }} Categoria</h2>

<form [formGroup]="form" (ngSubmit)="guardarCategoria()">
  <mat-dialog-content class="mat-typography">
     
      
    <div class="row">
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input formControlName="nombre" matInput placeholder="Ingrese mombre" autocomplete="off">
        </mat-form-field>
        <div class="error">
          <span *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
            Nombre es <strong>requerido</strong>
          </span>

          <span *ngIf="form.get('nombre')?.hasError('minlength') && form.get('nombre')?.touched">
            Nombre debe tener mínimo <strong>3 caracteres</strong>
          </span>
          <span *ngIf="form.get('nombre')?.hasError('maxlength')">
            Nombre debe tener máximo <strong>40 caracteres</strong>
          </span>

        </div>
      </div>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" (click)="cancelar()" mat-button>Cancelar</button>
    <button [disabled]="form.invalid" type="submit" mat-button >Guardar</button>
  </mat-dialog-actions>
</form>