/* Estilos para el header */
#header {
  background-color: rgba(55, 81, 126, 0.9); 
  position: fixed; 
  top: 0;
  width: 100%;
  height: 13%;
  z-index: 1000; 
  transition: background-color 0.3s ease; 
}

#header .getstarted:hover {
  background-color: #0057b369; /* Color al pasar el mouse */
}