
        <div class="dropdown-item theme-switch">
            Theme Switch

            <div class="btn-group btn-group-toggle btn-group--colors" data-toggle="buttons">
                <label class="btn bg-green active"><input type="radio" value="green" autocomplete="off" checked></label>
                <label class="btn bg-blue"><input type="radio" value="blue" autocomplete="off"></label>
                <label class="btn bg-red"><input type="radio" value="red" autocomplete="off"></label>
                <label class="btn bg-orange"><input type="radio" value="orange" autocomplete="off"></label>
                <label class="btn bg-teal"><input type="radio" value="teal" autocomplete="off"></label>

                <div class="clearfix mt-2"></div>

                <label class="btn bg-cyan"><input type="radio" value="cyan" autocomplete="off"></label>
                <label class="btn bg-blue-grey"><input type="radio" value="blue-grey" autocomplete="off"></label>
                <label class="btn bg-purple"><input type="radio" value="purple" autocomplete="off"></label>
                <label class="btn bg-indigo"><input type="radio" value="indigo" autocomplete="off"></label>
                <label class="btn bg-brown"><input type="radio" value="brown" autocomplete="off"></label>
            </div>
        </div>
        <a href="" class="dropdown-item">Fullscreen</a>
        <a href="" class="dropdown-item">Clear Local Storage</a>
