.file-list-container {
  max-height: 200px; /* Ajusta el tamaño según tus necesidades */
  overflow-y: auto; /* Habilita el desplazamiento vertical */
  border: 1px solid #ddd; /* Opcional: añade un borde para resaltar el contenedor */
  padding: 10px; /* Opcional: añade un relleno interno */
  margin-top: 20px; /* Opcional: añade un margen superior */
}


.file-drop-area {
  border: 2px dashed #007bff;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.file-drop-area.dragover {
  border-color: #0056b3;
}

.file-drop-area input[type="file"] {
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #e9ecef;
}

.valid-file {
  color: #007bff;
}

.invalid-file {
  color: #dc3545;
}

.file-name {
  margin-right: 8px; /* Ajusta el margen derecho según sea necesario */
  font-size: 14px; /* Ajusta el tamaño de fuente */
}

.invoice-number {
  font-weight: bold;
  margin-left: 8px;
  font-size: 14px; /* Ajusta el tamaño de fuente */
}

.total-content {
  color: #277a9b; /* Azul bajito */
  font-weight: bold;
  margin-left: 8px;
  font-size: 14px; /* Ajusta el tamaño de fuente */
}

.mat-dialog-content {
  font-family: 'Roboto', sans-serif;
  font-size: 14px; /* Ajusta el tamaño de fuente */
}

.mat-dialog-title {
  color: #007bff;
  font-weight: bold;
  font-size: 18px; /* Ajusta el tamaño de fuente */
}

.mat-dialog-actions button {
  margin-left: 8px;
  font-size: 14px; /* Ajusta el tamaño de fuente */
}

.file-name, .invoice-number, .total-content, .file-status {
  font-size: 12px; /* Ajusta el tamaño de fuente según sea necesario */
}