<h5>Subir información financiera Formato Zip o Xml</h5>

<div class="file-drop-area"
  (drop)="onDrop($event)"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)">
  <p>Arrastra tus archivos aquí o haz click para seleccionar</p>
  <input type="file" multiple (change)="onFileSelected($event)" #fileInput />
  <button mat-button color="primary" (click)="fileInput.click()">Seleccionar Archivos</button>
</div>

<!-- Contenedor con tamaño fijo para la lista de archivos -->
<div class="file-list-container">
  <!-- Lista de archivos cargados -->
  <mat-accordion *ngIf="files.length > 0">
    <mat-expansion-panel *ngFor="let file of files">
      <mat-expansion-panel-header (click)="togglePanel(file)">
        <mat-panel-title>
          <mat-icon class="file-icon" matTooltip="Abrir PDF">insert_drive_file</mat-icon>
          <span class="file-name">
            {{ getFileName(file) }}

            <!-- Valor de la factura -->
            <span *ngIf="showInvoiceInfo && file.companyName && file.totalFactura !== undefined" class="total-content">
              {{ file.totalFactura | currency:'':'symbol':'1.2-2' }}
            </span>
            
            <span class="file-status" [ngClass]="getFileStatusClass(file.validated)">
              {{ getFileStatusLabel(file.validated, file) }}
            </span>

            <span *ngIf="file.facturaNumber" class="factura-number">
              Factura: {{ file.facturaNumber }}
            </span>

          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      
      <div *ngIf="file.expanded && file.description_Xml_Hijo_Json">
        <div class="invoice-info">
          <div class="invoice-section">
            <h6 style="font-size: 12px;">Descripciones y Montos:</h6>
            <ul>
              <li *ngFor="let description of file.descriptionsItem; let i = index" style="font-size: 12px;">
                {{ description }} - {{ file.precioItem[i] | currency:'$ ':'symbol':'1.2-2' }}
              </li>
            </ul>
          </div>
        </div>
      </div>

            <!-- Mostrar el JSON de descripción 
            <pre>{{ file.description_Xml_Hijo_Json | json }}</pre>-->

    </mat-expansion-panel>
  </mat-accordion>

  <!-- Mensaje si no hay archivos cargados -->
  <div *ngIf="files.length === 0">
    <p>No se han cargado archivos.</p>
  </div>
</div>

<div class="footer-container">
  <div class="footer-left">
    <button mat-button color="primary" (click)="onProcess()" [disabled]="files.length === 0 || processing">Procesar Archivos</button>
    <button mat-button color="warn" (click)="clearFileList()">Borrar Lista</button>
  </div>
  
  <!-- Contenedor para el total facturado -->
  <div *ngIf="showInvoiceInfo" class="total-container">
    <span class="total-label">Total Facturado:</span>
    <span class="total-amount">{{ totalFacturado | currency:'COP ':'symbol':'1.2-2' }}</span>
  </div>
</div>